<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.min.store.impl.LoginMapper">

	<select id="loginMem" resultType="Member">
		SELECT MEM_ID, PASSWORD, NAME, EMAIL, PHONE 
		FROM MEMBER 
		WHERE MEM_ID = #{mem_id}
		AND PASSWORD= #{password}
	</select>
	
	<select id="loginSeller" resultType="Seller">
		SELECT SELLER_ID, PASSWORD, NAME, PHONE, B_LICENSE_NO 
		FROM SELLER 
		WHERE SELLER_ID = #{seller_id} 
		AND PASSWORD = #{password}
	</select>
	
	<select id="memIdCheck" resultType="int" parameterType="string">
		SELECT COUNT(*) FROM MEMBER WHERE MEM_ID = #{id}
	</select>
	
	<select id="memMailCheck" resultType="int" parameterType="string">
		SELECT COUNT(*) FROM MEMBER WHERE EMAIL = #{mail}
	</select>
	
	<insert id="memInsert">
		INSERT INTO MEMBER(MEM_ID, PASSWORD, NAME, EMAIL, PHONE
			<if test="addr_no != null and addr_no != '' ">
				, ADDR_NO
			</if>
			<if test="addr != null and addr != '' ">
				, ADDR
			</if>
			<if test="addr_d != null and addr_d != '' ">
				, ADDR_D
			</if>
		) 
		
		VALUES( #{mem_id},
				#{password},
				#{name},
				#{email},
				#{phone}
				
			<if test="addr_no != null and addr_no != '' ">
				, #{addr_no}
			</if>
			<if test="addr != null and addr != '' ">
				, #{addr}
			</if>
			<if test="addr_d != null and addr_d != '' ">
				, #{addr_d}
			</if>	
			)
	</insert>
</mapper>
