<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.min.store.impl.MainMapper">
	
	<!--store 메인-->
	<select id="mainList" resultType="map">
		SELECT COUNT(D.ITEM_NO) AS BUYER_CNT, D.ITEM_NO, I.TYPE, I.TITLE, I.PRICE, I.PIC
		FROM BUYER_D D , ITEM I
		WHERE D.ITEM_NO = I.ITEM_NO
		GROUP BY D.ITEM_NO, I.TYPE, I.TITLE, I.PRICE, I.PIC
		ORDER BY 1 DESC
	</select>
	
	<select id="mainCart" parameterType="string" resultType="map">
		SELECT NVL(SUM(COUNT(C.MEM_ID)),0) AS CNT, NVL(SUM(I.PRICE * C.QUANTITY),0) AS TOTAL
		FROM CART C, ITEM I
		WHERE C.ITEM_NO = I.ITEM_NO
		AND MEM_ID = #{mem_id}
		GROUP BY I.PRICE, C.QUANTITY
	</select>
	
	<select id="searchItem" parameterType="string" resultType="Item">
		SELECT DISTINCT(I.ITEM_NO), I.SELLER_ID, I.TYPE, TO_CHAR(I.ADD_TIME, 'YYYY-MM-DD HH24:MI:SS') AS ADD_TIME, I.TITLE, I.CONTENT, I.PRICE, I.STOCK, I.PIC, I.PIC_D 
		FROM WISH W , ITEM I
		WHERE W.ITEM_NO(+) = I.ITEM_NO
		AND I.TITLE LIKE '%' ||  #{keyword} || '%'
		ORDER BY 1 DESC
	</select>

</mapper>
