<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.min.store.impl.MainMapper">
	
	<!--store 메인-->
	<select id="mainList" resultType="map">
		SELECT COUNT(D.ITEM_NO) AS BUYER_CNT, D.ITEM_NO, I.TYPE, I.TITLE, I.PRICE, I.PIC
		FROM BUYER_D D , ITEM I
		WHERE D.ITEM_NO = I.ITEM_NO
		GROUP BY D.ITEM_NO, I.TYPE, I.TITLE, I.PRICE, I.PIC
		ORDER BY 1 DESC
	</select>
	

</mapper>
