<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.min.store.impl.MyPageMapper">

	<select id="myWishList" resultType="item" parameterType="string">
		SELECT I.ITEM_NO, I.TYPE, I.TITLE, I.PRICE, I.PIC, I.STOCK
		FROM WISH W , ITEM I
		WHERE W.ITEM_NO(+) = I.ITEM_NO
		AND W.MEM_ID = #{mem_id}
		ORDER BY 1 DESC
	</select>
	
	<!--정보수정-->
	<update id="mypageUpdate" parameterType="Member">
		UPDATE MEMBER SET 
			PASSWORD = #{password},
			NAME = #{name},
			EMAIL = #{email},
			PHONE = #{phone},
			ADDR_NO = #{addr_no},
			ADDR = #{addr},
			ADDR_D = #{addr_d}
		WHERE MEM_ID = #{mem_id}
	</update>
	
	<!--내가 쓴 리뷰 리스트-->
	<select id="myReviewList" parameterType="string" resultType="map">
		SELECT R.REVIEW_NO, R.MEM_ID , R.ITEM_NO, I.PIC, I.TYPE, I.TITLE, I.PRICE, R.STAR
		FROM REVIEW R, ITEM I
		WHERE R.ITEM_NO = I.ITEM_NO
		AND R.MEM_ID = #{mem_id}
		ORDER BY 1 DESC
	</select>
	
	<!--리뷰 상세-->
	<select id="myReview_d" parameterType="string" resultType="Review">
		SELECT R.REVIEW_NO, R.TITLE, R.TAG, R.CONTENT, R.INSERT_DATE, R.ITEM_NO, R.BUYD_NO
		FROM REVIEW R, ITEM I
		WHERE R.ITEM_NO = I.ITEM_NO
		AND R.REVIEW_NO = #{review_no}
	</select>
	
	<!--리뷰 삭제-->
	<delete id="myReviewDel" parameterType="string">
		DELETE FROM REVIEW WHERE REVIEW_NO = #{review_no}
	</delete>
	
	<!--내가 쓴 문의 리스트 -->
	<select id="myInquiry" resultType='map' parameterType="Inquiry">
		SELECT ROW_NUMBER() OVER(ORDER BY  INQUIRY_NO DESC) AS NO, Q.INQUIRY_NO, Q.ITEM_NO, Q.MEM_ID, Q.TYPE AS Q_TYPE, Q.TITLE AS Q_TITLE, Q.CONTENT, Q.SECRET, TO_CHAR(Q.INSERT_DATE, 'YYYY-MM-DD') AS INSERT_DATE, Q.ANSWER, TO_CHAR(Q.ANSWER_DATE, 'YYYY-MM-DD') AS ANSWER_DATE, I.TYPE AS I_TYPE, I.TITLE AS I_TITLE
		FROM INQUIRY Q , ITEM I
		WHERE Q.ITEM_NO = I.ITEM_NO
		<if test="mem_id != null and mem_id != '' ">
			AND Q.MEM_ID = #{mem_id}
		</if>
		<if test="inquiry_no != null and inquiry_no != '' ">
			AND Q.INQUIRY_NO = #{inquiry_no}
		</if>
		ORDER BY 1
	</select>
	
	<!--문의 삭제-->
	<delete id="inquiryDel" parameterType="string">
		DELETE FROM INQUIRY WHERE INQUIRY_NO = #{inquiry_no}
	</delete>
</mapper>
