<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.min.store.impl.ShopMapper">
	
	<!--전체조회 + 필터링 -->
	<select id="itemAll" resultType="Item" parameterType="Item">
		SELECT ITEM_NO, SELLER_ID, TYPE, TO_CHAR(ADD_TIME, 'YYYY-MM-DD HH24:MI:SS') as ADD_TIME, TITLE, CONTENT, PRICE, STOCK, PIC, PIC_D 
		FROM ITEM
		<if test="type != 'no'">
			WHERE TYPE = #{type}
		</if>
		<if test="newmax == null or newmax == '' or newmax == 'NEW'">
			ORDER BY 1 DESC
		</if>
		<if test="newmax == 'MAX' ">
			ORDER BY STOCK
		</if>
		
	</select>
	
	<!--검색 -->
	<select id="searchItem" parameterType="Item" resultType="Item"> 
		SELECT ITEM_NO, SELLER_ID, TYPE, TO_CHAR(ADD_TIME, 'YYYY-MM-DD HH24:MI:SS') as ADD_TIME, TITLE, CONTENT, PRICE, STOCK, PIC, PIC_D 
		FROM ITEM
		WHERE TYPE = #{type}
		AND TITLE LIKE '%' ||  #{keyword} || '%'
	</select>
	
	<!--단건 조회 -->
	<select id="itemDetail" resultType="Item" parameterType="string">
		SELECT S.NIC_NAME, I.ITEM_NO, I.SELLER_ID, I.TYPE, TO_CHAR(I.ADD_TIME, 'YYYY-MM-DD HH24:MI:SS') AS ADD_TIME, I.TITLE, I.CONTENT, I.PRICE, I.STOCK, I.PIC, I.PIC_D, I.CONTENT_D
		FROM SELLER S , ITEM I
		WHERE S.SELLER_ID = I.SELLER_ID
		AND ITEM_NO = #{no}
	</select>
	
	<!--상세내역 안 item list -->
	<select id="itemSeller" resultType="Item" parameterType="string">
		SELECT ITEM_NO, SELLER_ID, TYPE, TO_CHAR(ADD_TIME, 'YYYY-MM-DD HH24:MI:SS') as ADD_TIME, TITLE, CONTENT, PRICE, STOCK, PIC, PIC_D 
		FROM ITEM
		WHERE SELLER_ID = #{seller_id}
		ORDER BY 1
	</select>
	
	<!--장바구니 중복 확인 -->
	<select id="cartCheck" parameterType="Cart" resultType="int">
		SELECT COUNT(*) 
		FROM CART 
		WHERE MEM_ID = #{mem_id}
		AND ITEM_NO = #{item_no}
	</select>
	
	<!--장바구니 insert-->
	<insert id="cartInsert" parameterType="Cart">
		INSERT INTO CART (CART_NO, ITEM_NO, MEM_ID, QUANTITY) 
		VALUES( CART_SEQ.NEXTVAL, 
				#{item_no} , 
				#{mem_id} , 
				#{quantity} )
	</insert>
	
	<!--장바구니 리스트 -->
	<select id="cartList" parameterType="string" resultType="Cart">
		SELECT I.TITLE, I.PIC, C.CART_NO, C.ITEM_NO, C.MEM_ID, C.QUANTITY, I.PRICE, (I.PRICE * C.QUANTITY) AS TOTAL
		FROM CART C , ITEM I
		WHERE C.ITEM_NO = I.ITEM_NO
		AND MEM_ID = #{id}
		ORDER BY 3
	</select>
	
	<!--장바구니 삭제-->
	<delete id="CartDel" parameterType="string">
		DELETE FROM CART 
		WHERE CART_NO = #{cart_no}
	</delete>
	
	<!--카트 업데이트 -->
	<update id="updateCart" parameterType="Cart">
		UPDATE CART SET QUANTITY = #{quantity}
		WHERE CART_NO = #{cart_no}
	</update>
	
	<!--카트에서 주문하기-->
	<select id="orderCart" resultType="Cart" parameterType="Cart">
		SELECT I.TITLE, I.PIC, C.CART_NO, C.ITEM_NO, C.MEM_ID, C.QUANTITY, I.PRICE, (I.PRICE * C.QUANTITY) AS TOTAL
		FROM CART C , ITEM I
		WHERE C.ITEM_NO = I.ITEM_NO
		AND CART_NO IN
		<!--  <c:if>의 var == item , items == collection , separator은 구분기호-->  
		<foreach collection="list" item="no" open="(" close=")" separator=",">
			#{no}
		</foreach>
		ORDER BY 3
	</select>
	
	<!--구매자 정보 테이블 -->
	<insert id="insertBuyer" parameterType="Buyer">
		INSERT INTO BUYER( BUY_NO, MEM_ID, PAYMENT, PAY_TIME, NAME, PHONE, ADDR_NO, ADDR, ADDR_D, EMAIL) 
		VALUES( #{buy_no} ,
				#{mem_id} ,
				#{payment} ,
				LOCALTIMESTAMP ,
				#{name} ,
				#{phone} ,
				#{addr_no} ,
				#{addr} ,
				#{addr_d} ,
				#{email}
		)
	</insert>


	<!--구매자 상세 테이블-->
	<insert id="insertBuyer_d" parameterType="Buyer_d">
		INSERT INTO BUYER_D(BUYD_NO, BUY_NO, ITEM_NO, QUANTITY) 
		VALUES( ORDER_SEQ.NEXTVAL, 
				#{buy_no} , 
				#{item_no} , 
				#{quantity} )
	
	</insert>

	<!--카트에서 삭제 -->
	<delete id="deleteCart" parameterType="Cart">
		DELETE FROM CART 
		WHERE CART_NO IN 
		<foreach collection="list" item="no" open="(" close=")" separator=",">
			#{no}
		</foreach>
	</delete>

	<select id="selectStock" parameterType="Cart" resultType="Item">
		SELECT C.CART_NO, I.ITEM_NO, I.STOCK, C.MEM_ID
		FROM CART C , ITEM I
		WHERE C.ITEM_NO = I.ITEM_NO
		AND CART_NO IN
		<foreach collection="list" item="no" open="(" close=")" separator=",">
			#{no}
		</foreach>
		ORDER BY 1
	</select>
	
	<!--재고 수정 -->
	<update id="updateStock" parameterType="Item">
		UPDATE ITEM SET STOCK = #{stock}
		WHERE ITEM_NO = #{item_no}
	</update>

	<!--주문 리스트 -->
	<select id="selectOrderList" parameterType="Buyer" resultType="map">
		SELECT BUY_NO, MEM_ID, PAYMENT, TO_CHAR(PAY_TIME, 'YYYY-MM-DD HH24:MI:SS') AS PAY_TIME , NAME, PHONE, ADDR || ' ' || ADDR_D AS ADDR, ADDR_NO
		FROM BUYER 
		<if test="buy_no == null or buy_no == '' ">
			WHERE MEM_ID = #{mem_id}
		</if>
		<if test="mem_id == null or mem_id =='' ">
			WHERE BUY_NO = #{buy_no}
		</if>
		ORDER BY 1 DESC
	</select>

	<!--주문리스트 상세-->
	<select id="OrderListDetail" resultType="map" parameterType="map">
		SELECT D.ITEM_NO, D.QUANTITY, D.BUY_NO, B.PAYMENT, I.TITLE, I.PIC , (I.PRICE*D.QUANTITY) AS PRICE, D.BUYD_NO
		FROM BUYER_D D , BUYER B, ITEM I
		WHERE  D.BUY_NO = B.BUY_NO
		AND D.ITEM_NO = I.ITEM_NO
		AND D.BUY_NO =  #{buy_no}
	
	</select>
	


</mapper>
